node_modules/
dist/
.env
uploads/*
!uploads/.gitkeep
!uploads/default-avatar.svg
!uploads/default-equipment.svg
D:\faks\pia\projekat\SportSphere Hub\.claude
D:\faks\pia\projekat\SportSphere Hub\CLAUDE.md